<div class="container-full">
 <div class="logo-center-white">
  <div class="row">
      <div class="col-sm-2 ">
            <h3 class="Muted">Learn More</h3>
            <b>About Us</b> <br/>
            <%= link_to "Blog", blog_path %> <br/>
            <%= link_to "Contact Us", contact_path %> <br/>
       </div>
       <div class="col-sm-10 custom-colum-border-left">
            <h1 class="h1-teal">Our Platform</h1>
            <h2 class="muted"><i>Our mission is to make the most of your free time, one social event at a time.</i></h2>
            <br />
            <p class="muted">BestTime is the most comprehensive event planning app for socially active individuals. With a shortened and automated event planning process, more people will take the initiative to schedule great social event during their free time. And the events already happening will be better. BestTime is easy to use and perfect for organizing an event during your next free time.</p>
            <br />
            <p class="muted">The secret to BestTime is sharing your free and busy time with your social network. Don't worry, we absolutely will not share the details of the events, unless you broadcast specific events. This information is already readily shared amongst friends when asked. But having to ask each other for this information is stopping great events from happening and dragging out the event planning process. We want to remove the text messages <i>"Hey are you guys free Friday night?"</i> and are creating a place to share this information with each other <b>on-demand</b> in the spirit of enabling more, better social events.</p>
            <br /> <br />
            <p class="muted">BestTime provides solutions for all kinds of social events:</p>
            <br /> 
            <h2 class="">1. Flexible Time but Fixed Attendees</h2>
            	<br />
            	<p class="muted">Typically dinner out with friends, these events are a matter of coordinating everyone's schedule to find that time that works. <b>Find BestTime</b> automates this process and serves up the next times that work for everyone. A process that typically drags on for hours or event days via e-mail and text message is now complete in seconds. A major time saver.</p>
        	<h2 class="">2. Fixed Time but Flexible Attendees</h2>
        	<br />
        	<p class="muted">When you have some open free time in the near future and want to quickly find out who is also free. With the list of possible attendees you can then pick who to plan an event with. <b>Who Is Free</b> removes the huge barrier to accessing this information. Having to send a mass text message only to hear back that most people have plans is a dreaded process. Removing this barrier will have more people taking the initiative to schedule social events.</p>
        	<h2 class="">3. Wide Open</h2>
            	<br />
            	<p class="muted">It's the most difficult event to plan. On a wide-open weekend when the pressure is on to have an epic time, it's a lot of work to find the event or activity, and then find people who are available and free. <b>My BestTime</b> does all the work for you and serves up social events pairing you with other friends who are free and great events and activities in the area. Pick from the list of potential events to make sure you are spending your time on the best time possible.</p>
       </div>
  </div>
 </div>
</div>

<script>
        ga('send', 'screenview', {
            'screenName': 'about'
        });
</script>
