    <div class="container-full">
      <div class="logo-center-white">
          <div class="row custom-center">
              <div class="col-md-12">
                  Placeholder
              </div>
          </div>
      </div>
      <div class="logo-center-teal">
          <div class="row">
              <div class="col-md-4">
                    <p class="custom-center">Find BestTime feature to find the best time while scheduling a social event</p>
              </div>

              <div class="col-md-8">

                  <h1 class="text-center-white">Make every social event the best time of your life.</h1>
                  <br />
                  <h3 class="text-center-white">Launching 2014</h3>
                  <br /><br />
                  <h3 class="text-center-white">Here's your chance to be one of the first users!</h3>
                  <br />
                  <p class="text-center-white">Want a sneak peak of BestTime? Enter your e-mail address to receive an invitation to our demo. You can install it on your iPhone!</p>
                  <br />
                  <div class="custom-center">
                      <input class="custom-center" id="signup-email" title="Don't worry. We hate spam, and will not share your email with anyone." size = "35" placeholder="Enter your email address" type="text">
                      <a href="#" class="btn btn-success">Sign Me Up!</a>
                  </div>
                  <p class="text-center-white-small-italic">We don't eat SPAM, so we definitely won't SPAM you.</p>
              </div>

          </div>
      </div>
      <div class="logo-center-white">
          <div class="row">
              <div class="col-md-6">

                  <h1 class="text-center">BestTime simplifies social event scheduling</h1>
                  <br />
                  <h3 class="text-center">No more back-and-forth trying to find the time that works for everyone</h3>
                  <br />
                  <h3 class="text-center">BestTime aggregates everyone's free/busy times and automates the process for you. </h3>
                  <br />
              </div>
              <div class="col-md-6">
                  <p>BestTime for social event attendees</p>
              </div>
          </div>
       </div>

      <div class="logo-center-white">
          <div class="row">
              <div class="col-md-6">
                  <p>Finding who is free ensures that social events start with the right attendees</p>
              </div>
              <div class="col-md-6">
                  <h1 class="text-center">Quickly find out who's also free when you are free</h1>
                  <br />
                  <h3 class="text-center">Skip the mass texts or e-mails asking who is free at a particular time. Filter by only those that are also free, and schedule an event that makes the most of that free time for both of you</h3>
                  <br />
              </div>
          </div>
      </div>

      <div class="logo-center-white">
          <div class="row">
              <div class="col-md-6">
                  <h1 class="text-center">See what's happening to kick start your social life</h1>
                  <br/>
                  <h3 class="text-center">Find events & promotions scheduled in your area, to add to your calendar and invite other friends who are also free.</h3>
                  <br />
                  <h3 class="text-center">Or, tag along to already scheduled social events that are occurring in your social network. The more the merrier!</h3>
                  <br />
               </div>
              <div class="col-md-6">
                  <p>What is happening shows scheduled events in the area and events in your social network</p>
              </div>
          </div>
      </div>
   </div>