<div class="container-full">
	<div class="logo-center-white">
	  	<div class="row">
	      <div class="col-sm-2 ">
	            <h3 class="Muted">Learn More</h3>
	            <a href="#">Contact Us</a> <br/>
	            <b>Blog</b> <br />
	            <a href="#">Contact Us</a>  <br /> 
	            <a href="#">Terms</a> <br />
	            <a href="#">Support</a>
	       </div>
	       <div class="col-sm-10 custom-colum-border-left">
	            <h1 class="h1-teal">Welcome to BestTime</h1>
	            <h3>July 2, 2014</h3>
	            <p class="muted">
	            	For me, it started with a simple question...why is it so easy for me to schedule a meeting at work, but to schedule a social event it is so difficult? The business world has long had a successful tool for easily scheduling meetings with your co-workers. 
	            </p>
			</div>
		</div>
	</div>
</div>