<div class="container-full">
	<div class="logo-center-white">
	  	<div class="row">
	      <div class="col-sm-2 ">
	            <h3 class="Muted">Learn More</h3>
	            <%= link_to "About", about_path %> <br /> 
	            <b>Blog</b> <br />
	            <%= link_to "Contact Us", contact_path %> <br />
	            <%= link_to "Press", press_path %> <br />
	            <a href="#">Terms</a> <br />
	            <a href="#">Support</a>
	       </div>
	       <div class="col-sm-10 custom-colum-border-left">
	            <h1 class="h1-teal">Welcome to BestTime</h1>
	            <h3>July 6, 2014</h3>
	            <p class="muted">
	            	For me, it started with a simple question...why is it so easy for me to schedule a meeting at work, but to schedule a social event is so difficult? The business world has long had a successful tool for easily scheduling meetings with your co-workers. It's time for it to be as easy to schedule a night out on the town as it is to schedule a team meeting at work. <br /> <br />

	            	We all readily share our availability with friends and family when asked. And they share it with us when we ask. So why is it that we need to drag out the process of coordinating schedules when trying to plan events with our friends? How often has this happened to you? <br /> <br />

	            	<i>"Do you want to get together for dinner this weekend?"</i> <br /> <br />

	            	<i>"I'm out of town this weekend. How about Thursday night?"</i> <br /> <br />

	            	<i>"Ah! Thursday is my softball league. How about next Tuesday?"</i> <br /> <br />

	            	And it goes on and on. This line of conversation has been played out tons of times in my own life and I'm sure it has happened to you too. It has wasted my time, dragging out the process over the course of hours and days. And it has been inefficient, skipping over free times for the event. <br /> <br />

	            	There are 1.2 million apps in the app store and only one helps facilitate social event planning. And that one costs $40 a year. So why has no one come along and done this yet? Well, for starters, most comparable apps are tackling a different problem in social event planning - finding already existing events.<br /> <br />

	            	So our first version is going to focus on this core problem. Quite simply, we want to be the best social event planning app there is. It should be so easy to plan social events - the events we actually want to go to. And we at BestTime are going to make it that way. <br /> <br />

	            	There is plenty more coming. We have our own take on the optimal way to plan the best social events, and look forward to sharing that with you. Our mission is to make the world a more social place and facilitate the best spend of your free time. <br /> <br />

	            	So sign up for the beta and tell your friends. If you have questions or feature ideas, I want to hear from you. Feel free to e-mail me at <a href="mailto:Darren@GetBestTime.com">Darren@GetBestTime.com</a>. <br /> <br />

	            	Best, <br /> <br />
	            	Darren <br /> <br />
	            	BestTime Founder
	            </p>
			</div>
		</div>
	</div>
</div>