<div class="container-full">
	<div class="logo-center-white">
	  	<div class="row">
	      <div class="col-sm-2 ">
	            <h3 class="Muted">Learn More</h3>
	            <%= link_to "About Us", about_path %>  <br />
            	<%= link_to "Blog", blog_path %> <br /> 
	            <b>Contact Us</b>  
	       </div>
	       <div class="col-sm-10 custom-colum-border-left">
	            <h1 class="h1-teal">Contact Us</h1>
	            <h3 class="muted">General:</h3>
            	<p><a href="mailto:Darren@GetBestTime.com">Email Us</a></p>
            	<h3 class="muted">Event Advertising:</h3>
            	<p><a href="mailto:Darren@GetBestTime.com">Email Us</a></p>
            	<h3 class="muted">Press:</h3>
            	<p><a href="mailto:Darren@GetBestTime.com">Email Us</a></p>
			</div>
		</div>
	</div>
</div>

<script>
        ga('send', 'screenview', {
            'screenName': 'contact'
        });
//_gaq.push(['_trackPageview', 'contact']);
</script>