<div class="container-full">
	<div class="logo-center-white">
	  	<div class="row">
	      <div class="col-sm-2 ">
	            <h3 class="Muted">Learn More</h3>
	            <a href="#">Contact Us</a> <br/>
	            <a href="#">Blog</a> <br />
	            <b>Contact Us</b>  <br /> 
	            <a href="#">Terms</a> <br />
	            <a href="#">Support</a>
	       </div>
	       <div class="col-sm-10 custom-colum-border-left">
	            <h1 class="h1-teal">Contact Us</h1>
	            <h3 class="muted">General:</h3>
            	<p><a href="#">Email Us</a></p>
            	<h3 class="muted">Event Advertising:</h3>
            	<p><a href="#">Email Us</a></p>
            	<h3 class="muted">Press:</h3>
            	<p><a href="#">Email Us</a></p>
			</div>
		</div>
	</div>
</div>