.logo-center-teal {
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #00576f;
}

.logo-center-white {
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #ffffff;
    border-bottom: 1pt solid black;
}

.logo-center-white-no-border {
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #ffffff;
}

.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;

}
.custom-row {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    background-color: #00576f;

}

.text-center-white {
    text-align: center;
    color: #ffffff;
}

.custom-center {
    margin-left: auto;
    margin-right: auto;
    text-align:center
}

.text-center-white-small-italic {
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    font-style: italic;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.center-vertical{
    margin-top: 12px;
    padding-left: 10px;
    vertical-align: middle;
    display: block;
}

.center-vertical-main{
    margin-top: 22px;
    padding-left: 10px;
    vertical-align: middle;
    display: block;
}

.panel-primary{
   max-width: 650px; 
   display: block;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.panel-primary-wide{
   max-width: 950px;
}

.panel-cell {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    height: 300px;
    margin: 10px 0px 10px;

}

.panel-cell-dashed {
    text-align: center;
    border-style: dashed;
    border-width: 1px;
    padding: 5px;
    height: 300px;
    margin: 10px 0px 10px;
}

.panel-image {
    margin: 30px 0px 10px;
}

.panel-image-calendar {
    margin: 70px 0px 10px;
}

.row-space {
    padding-bottom: 15px;
}

.control-label{
    padding-top: 7px;
    text-align: right;
}

.btn-primary-margin {
    margin-top: 7px;
}

.assistance {
    font-size: 13px;
    color: #00576f;
    padding-top: 5px;
}