<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
    div.logo-center-teal {
      margin-left: auto;
      margin-right: auto;
      padding-top: 25px;
      padding-bottom: 25px;
      background-color: #00576f;
      color: white;
  }
    </style>
  </head>
  <body>
    <div class="container-full">
      <div class="logo-center-teal" >
          <div class="row">
              <div class="col-md-12">
                BestTime                  
              </div>
          </div>
      </div>
       <div class="logo-center-white">
          <div class="row">
              <div class="col-md-12">
                <h1>Welcome to BestTime</h1>
                  <p>Thanks for your interest in BestTime. I promise you that the best times of your life are ahead of you.</p>

                  <p>In the meantime, here is a demo for your iPhone (sorry Android users) to hold you over and get you ready for launch: <a href="https://www.flinto.com/p/054624e0">iPhone Demo</a></p>

                  <p>Thanks for joining and have a great day!</p>
              </div>
          </div>
        </div>
    </div>
</body>
</html>
  

