<div class="container-full">
  <div class="jumbotron">
    <h1>Your Locations</h1>
    <table>
      <tbody>
        <% @locations.each do |location| %>
          <tr>
            <% if location.user == current_user %>
              <td><%= link_to location.placename, location %> </td>
              <td><%= location.address_1 %>, <%= location.town %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Location', new_location_path %>
