<div class="logo-center-white">
        <div class="row">
          <div class="col-md-6">
            <%= link_to "About", about_path %> | 
            <%= link_to "Blog", blog_path %> | 
            <%= link_to "Contact Us", contact_path %> | 
             <%= link_to "Press", press_path %> |
            <a href="#">Terms</a> | 
            <a href="#">Support</a> <br /> <br /> <p>&copy; 2014 <a href="https://twitter.com/djlinkstrom">Darren Linkstrom</a></p>
        </div>
      </div>