<div class="logo-center-white">
        <div class="row">
          <div class="col-md-6">
            <%= link_to "Abount", about_path %> | 
            <a href="#">Blog</a> | 
            <a href="#">Contact Us</a> | 
            <a href="#">Terms</a> | 
            <a href="#">Support</a> <br /> <br /> <p>&copy; 2014 <a href="https://twitter.com/djlinkstrom">Darren Linkstrom</a></p>
        </div>
      </div>